nav{
  margin: 20px 0px;
}
nav button{
  margin:0px 8px;
}
.menu-items{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


.items-box{
  width: 300px;
  text-align: center;
  border: 1px solid orange;
  margin-top: 20px;
}

img{
 height:200px;
 width: 300px;
}

.price-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}